body {
  background-color: #F3F6F7;
  margin: 0%;
}

/* hide from the DOM */
.hide {
  display: none;
}

header {
  background-color: #1F1F3D;
  font-family: "Open Sans", "ExtraBold 800";
  height: 5%;
  margin: 0%;
  width: 100%;
}

header input {
  font-size: 32px;
  margin: 1%;
  width: 25%;
}

/* all buttons hover state and remove blue outline */
button {
  cursor: pointer;
  outline: none;
}

/* all inputs remove blue outline */
input {
  outline: none;
}

/* image next to search bar...only one I had to do position absolute :( */
.search-image {
  background-color: lightgray;
  padding: 5px;
  position: absolute;
  right: 26.3%;
  top: 2.1%;
  width: 2.0%;
}

/* title white characters */
.title-white {
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}

/* added margin to push away from edge of page */
.title-white-first {
  margin-left: 1.5%;
}

/* title yellow characters */
.title-yellow {
  color: #FFC30C;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}

.search-input {
  float: right;
}

aside {
  background-color: #587A8A;
  border: 2px solid #3C6577;
  float: left;
  font-family: 'Open Sans', sans-serif;
  height: 2000px;
  width: 33%;
}

aside h5 {
  color: #FFFFFF;
  color: #F3F6F7;
  font-size: 18px;
  margin: 5% 0% 2% 3%;
}

aside input {
  border: 2px solid #1F1F3D;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  margin: 0% 5% 0% 3%;
  width: 90%;
}

.aside-task-list-area input {
  border: none;
  margin-right: 3%;
  width: 4%;
}

/* tasks dipslay in list on aside */
.aside-task-list-area li {
  color: #FFFFFF;
  font-size: 24px;
  list-style: none;
  margin: 3% 5%;
}

.task-item-input-section {
  display: inline-flex;
  width: 100%;
}

.task-item-input {
  margin: 0% 0% 0% 3%;
  width: 78%;
}

/* plus sign image for adding a task */
.add-task-item-button-image {
  margin: 0%;
  width: 10%;
}

/* aside buttons */
aside button {
  background-color: #1F1F3D;
  border: #1F1F3D;
  border-radius: 5px;
  color: #FFFFFF;
  display: block;
  font-size: 24px;
  margin: 5% 5% 0% 3%;
  padding: 1%;
  width: 90%;
}

/* bottom portion of aside, for filter by urgency button */
.aside-bottom {
  border-top: 2px solid #3C6577;
  margin-top: 5%;
}

/* active state for filter by urgency button */
.filter-by-urgency-button-active {
  background-color: #EF4A23;
  border: 2px solid #782616;
  color: #FFF;
}

main {
  columns: 2;
  font-family: 'Open Sans', sans-serif;
}

/* left side of main */
.column-one {
  background-color: #F3F6F7;
  height: 100%;
  height: 2000px;
  padding-top: 1%;
}

/* messages to dispaly in main when no tasks or no urgent tasks */
.no-task-message,
.no-urgent-message {
  color: #1F1F3D;
  margin: 10% 0% 0% 5%;
}

/* right side of main */
.column-two {
  background-color: #F3F6F7;
  height: 100%;
  height: 2000px;
  padding-top: 1%;
}

.column-one h2 {
  font-size: 48px;
}

/* lists area*/
.task-card {
  background-color: #FAFDFF;
  border: 2px solid #C7D3D8;
  margin: 05%;
}

.task-card input {
  margin-right: 3%;
  width: 4%;
}

.task-input-active {
  color: #3C6577;
}

.task-card-title {
  color: #1F1F3D;
  font-size: 20px;
  margin: 2% 0%;
  padding: 0% 5%;
}

.task-card-list {
  border-bottom: 2px solid #C7D3D8;
  border-top: 2px solid #C7D3D8;
}

.urgent-button-section {
  color: #1F1F3D;
  display: inline-block;
  margin: 0% 3%;
  width: 40%;
}

.task-card-list-active {
  border-bottom: 2px solid #C7D3D8;
  border-top: 2px solid #C7D3D8;
}

.task-card .task-card-urgent-button {
  display: inline-block;
  margin: 0% 10%;
  width: 10%;
}

.urgent-card-active {
  background-color: #FFE89D;
  border: 2px solid #FFC30C
}

.task-card-list-active {
  border-bottom: 2px solid #FFC30C;
  border-top: 2px solid #FFC30C;
}

.urgent-button-section-active {
  color: #B23A25;
  display: inline-block;
}

.task-card p {
  margin: 0%;
}

.delete-button-section {
  color: #1F1F3D;
  float: right;
  margin: 0% 3%;
  text-align: right;
  width: 40%;
}

.task-card .task-card-delete-button {
  display: inline-block;
  margin: 0% 10%;
  width: 10%;
}

.list-item {
  color: #1F1F3D;
  font-size: 18px;
  list-style: none;
  margin: 5% 0%;
}

.list-item-active {
  color: #3C6577;
  font-size: 18px;
  font-style: italic;
  list-style: none;
  margin: 5% 0%;
}
